<h2 class="mb-4">Adicionar Novo Veículo</h2>
{% if form_error %}
    <div id="form-messages" class="alert alert-danger" role="alert">
        {{ form_error }}
    </div>
{% endif %}
<form hx-post="/ui/action/veiculo-criar" hx-target="#content" hx-swap="innerHTML" hx-indicator="#loading-form">
    <div class="mb-3">
        <label for="veiculo" class="form-label">Veículo:</label>
        <input type="text" id="veiculo" name="veiculo" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="marca" class="form-label">Marca:</label>
        <select id="marca" name="marca" class="form-select" required>
            <option value="">Selecione uma marca</option>
            {% for marca_valida in marcas_validas %}
            <option value="{{ marca_valida }}">{{ marca_valida }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="ano" class="form-label">Ano:</label>
        <input type="number" id="ano" name="ano" class="form-control" required min="1900" max="2099"> <!-- Ajuste o max dinamicamente se necessário -->
    </div>
    <div class="mb-3">
        <label for="descricao" class="form-label">Descrição:</label>
        <textarea id="descricao" name="descricao" class="form-control" rows="3"></textarea>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="vendido" name="vendido" value="true">
        <label class="form-check-label" for="vendido">Vendido</label>
    </div>
    <button type="submit" class="btn btn-primary">Salvar Veículo</button>
    <div id="loading-form" class="htmx-indicator mt-2">
        <div class="spinner-border spinner-border-sm text-primary" role="status">
            <span class="visually-hidden">Salvando...</span>
        </div>
        Salvando...
    </div>
</form>
